@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

:root {
  font-family: 'Lora', sans-serif;
}

/* Dark mode support for custom elements */
.dark body {
  @apply bg-gray-900 text-gray-100;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
